* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(aesthetic.jpg) ;
}

.encabezado {
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}

.opciones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.formulario {
    display: flex;
    flex-direction: column;
    text-align: center;
}

input {
    width: 50%;
    color: black;
}

.estado {
    display: flex;
    gap: 5px;
}